# Lesson 11: Data Frames


## Introduction
Objects of the data frame type represent a data table as a series of vectors, each corresponding to a column or variable. The simplest way of constructing a data frame is to pass column vectors using keyword arguments or pairs.

In [1]:
using DataFrames
df = DataFrame(A = 1:4, B = ["M", "F", "F", "M"])

4×2 DataFrame
│ Row │ A     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ M      │
│ 2   │ 2     │ F      │
│ 3   │ 3     │ F      │
│ 4   │ 4     │ M      │

There are several ways to access a column. 

* df.col
* df."col"
* df[!, "col"]
* df[!, :col]

Let's take a look at each.

* The two latter syntaxes are more flexible as they allow passing a variable holding the name of the column, and not only a literal name. 

* Column names can be either symbols _:col_, _:var "col"_ or _symbol("col")_ or even strings _"col"_.

* Columns can also be accessed using an integet index of the position of the column. 

Be careful!

* The line df[!, :col] does not make a copy, it changes the elements of the column vector returned, affecting the original value of the data frame.

* To get a copy use df[:, :col] instead.

In [ ]:
# GET FIRST COLUMN
df.A
df."A"
df[:, 1]

# GET EXACTLY
df[1,1]
df[2,2]

We can also construct a data frame by column or row.

In [3]:
df = DataFrame()
df.A = 1:8
df.B = ["M","F","M","F","M","F","M","F"]
df

8×2 DataFrame
│ Row │ A     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ M      │
│ 2   │ 2     │ F      │
│ 3   │ 3     │ M      │
│ 4   │ 4     │ F      │
│ 5   │ 5     │ M      │
│ 6   │ 6     │ F      │
│ 7   │ 7     │ M      │
│ 8   │ 8     │ F      │

In [4]:
df = DataFrame(A = Int[], B = String[])
push!(df, (1,"M"))
push!(df, [1, "F"])

# Use Dictionary
push!(df, Dict(:B => "F", :A => 3))

df

3×2 DataFrame
│ Row │ A     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ M      │
│ 2   │ 1     │ F      │
│ 3   │ 3     │ F      │

## Tips for Working with Data Frames
Here are some tips for working with data frames in Julia.

In [ ]:
df = DataFrame()
df.A = 1:8
df.B = ["M","F","M","F","M","F","M","F"]
df

# See top 3
first(df, 3)

# See last 3
last(df, 3)

# Create from a table
df = DataFrame(a=[1,2,3], b=[:a, :b, :c])

# Write to CSV
# CSV.write("dataframe.csv", df)

## SubSetting
Specific subsets of a data frame can be extracted using the index syntax similar to matrices. The colon _:_ indicates that all items should be retained. 

Note however that notations can change behavior. 

* The code `df[!, [:A]]` and `df[:, [:A]]` return a data frame
* The code `df[!, :A]` and `df[:, :A]` return a vector

In [9]:
# returns a data frame
foo = df[!, [:B]]
display(foo)

# returns an array
bar = df[!, :B]
display(bar)

3×1 DataFrame
│ Row │ B      │
│     │ String │
├─────┼────────┤
│ 1   │ M      │
│ 2   │ F      │
│ 3   │ F      │

3-element Array{String,1}:
 "M"
 "F"
 "F"

* More complex indices can be built using conditionals, or even regular expressions for columns.

In [12]:
using InvertedIndices

# column by regular expression
df[!, r"A"]

# using a conditional
df[!, ]

3×1 DataFrame
│ Row │ A     │
│     │ Int64 │
├─────┼───────┤
│ 1   │ 1     │
│ 2   │ 1     │
│ 3   │ 3     │

In [15]:
df[df.A .> 1, :]

1×2 DataFrame
│ Row │ A     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 3     │ F      │

## Selecting Columns
Julia provides the `select` and `select!` functions to select, rename, and transform columns inside a data frame.

In [17]:
df = DataFrame(x1 = [1,2], x2 = [3,4], y = [5,6])

# drop column X1
select(df, Not(:x1))

# select column in regular expression
select(df, r"x")

# rename columns
select(df, :x1 => :a1, :x2 => :a2)

# transform
select(df, :x1, :x2 => (x -> x .-minimum(x)) => :x2)

2×2 DataFrame
│ Row │ x1    │ x2    │
│     │ Int64 │ Int64 │
├─────┼───────┼───────┤
│ 1   │ 1     │ 0     │
│ 2   │ 2     │ 1     │

In [18]:
df = DataFrame(x1 = [1,2], x2 = [3,4], y = [5,6])

# drop column X1
select(df, Not(:x1))

2×2 DataFrame
│ Row │ x2    │ y     │
│     │ Int64 │ Int64 │
├─────┼───────┼───────┤
│ 1   │ 3     │ 5     │
│ 2   │ 4     │ 6     │

In [19]:
df = DataFrame(x1 = [1,2], x2 = [3,4], y = [5,6])

# select column in regular expression
select(df, r"x")

2×2 DataFrame
│ Row │ x1    │ x2    │
│     │ Int64 │ Int64 │
├─────┼───────┼───────┤
│ 1   │ 1     │ 3     │
│ 2   │ 2     │ 4     │

In [20]:
df = DataFrame(x1 = [1,2], x2 = [3,4], y = [5,6])

# rename columns
select(df, :x1 => :a1, :x2 => :a2)

2×2 DataFrame
│ Row │ a1    │ a2    │
│     │ Int64 │ Int64 │
├─────┼───────┼───────┤
│ 1   │ 1     │ 3     │
│ 2   │ 2     │ 4     │

In [21]:
df = DataFrame(x1 = [1,2], x2 = [3,4], y = [5,6])

# transform
select(df, :x1, :x2 => (x -> x .-minimum(x)) => :x2)

2×2 DataFrame
│ Row │ x1    │ x2    │
│     │ Int64 │ Int64 │
├─────┼───────┼───────┤
│ 1   │ 1     │ 0     │
│ 2   │ 2     │ 1     │

In [22]:
df = DataFrame(x1 = [1,2], x2 = [3,4], y = [5,6])

# transform by row
select(df, :x2, :x2 => ByRow(sqrt))

2×2 DataFrame
│ Row │ x2    │ x2_sqrt │
│     │ Int64 │ Float64 │
├─────┼───────┼─────────┤
│ 1   │ 3     │ 1.73205 │
│ 2   │ 4     │ 2.0     │

It's important to know `select` will always return a data frame, even when passing a single column. By default selec copies columns of a passed source data frame. In order to avoid copying, pass `copycols=false`.

We can perform the `select` operation in place with `select!`.

In [ ]:
select!(df, Not(:X1))

## Transforming Data Frames
The functions `transform` and `transform!` work similar to `select`, but retail all columns that are present in the source data frame.

In [23]:
df = DataFrame(x1 = [1,2], x2 = [3,4], y = [5,6])
transform(df, All() => +)

2×4 DataFrame
│ Row │ x1    │ x2    │ y     │ x1_x2_y_+ │
│     │ Int64 │ Int64 │ Int64 │ Int64     │
├─────┼───────┼───────┼───────┼───────────┤
│ 1   │ 1     │ 3     │ 5     │ 9         │
│ 2   │ 2     │ 4     │ 6     │ 12        │

Using the `ByRow` wrapper, we can easily compute for each row the name of the column with the highest score.

In [24]:
using Random
Random.seed!(1)

df = DataFrame(rand(10,3), [:a, :b, :c])

transform(df, AsTable(:) => ByRow(argmax) => :prediction)

10×4 DataFrame
│ Row │ a          │ b         │ c         │ prediction │
│     │ Float64    │ Float64   │ Float64   │ Symbol     │
├─────┼────────────┼───────────┼───────────┼────────────┤
│ 1   │ 0.236033   │ 0.555751  │ 0.0769509 │ b          │
│ 2   │ 0.346517   │ 0.437108  │ 0.640396  │ c          │
│ 3   │ 0.312707   │ 0.424718  │ 0.873544  │ c          │
│ 4   │ 0.00790928 │ 0.773223  │ 0.278582  │ b          │
│ 5   │ 0.488613   │ 0.28119   │ 0.751313  │ c          │
│ 6   │ 0.210968   │ 0.209472  │ 0.644883  │ c          │
│ 7   │ 0.951916   │ 0.251379  │ 0.0778264 │ a          │
│ 8   │ 0.999905   │ 0.0203749 │ 0.848185  │ a          │
│ 9   │ 0.251662   │ 0.287702  │ 0.0856352 │ b          │
│ 10  │ 0.986666   │ 0.859512  │ 0.553206  │ a          │

## Summarize Data
To summarize data we can use the `describe` function.

In [26]:
df = DataFrame(A=1:4, B=["M", "F", "M", "F"])
describe(df); 

describe(df[!, [:A]])

1×8 DataFrame. Omitted printing of 1 columns
│ Row │ variable │ mean    │ min   │ median  │ max   │ nunique │ nmissing │
│     │ Symbol   │ Float64 │ Int64 │ Float64 │ Int64 │ Nothing │ Nothing  │
├─────┼──────────┼─────────┼───────┼─────────┼───────┼─────────┼──────────┤
│ 1   │ A        │ 2.5     │ 1     │ 2.5     │ 4     │         │          │

We can also apply a function to each column of a data frame using combine.

In [27]:
df = DataFrame(A=1:4, B=4.0:-1.0:1.0)

combine(df, names(df) .=> sum)

1×2 DataFrame
│ Row │ A_sum │ B_sum   │
│     │ Int64 │ Float64 │
├─────┼───────┼─────────┤
│ 1   │ 10    │ 10.0    │

In [28]:
df = DataFrame(A=1:4, B=4.0:-1.0:1.0)

combine(df, names(df) .=> sum, names(df) .=> prod)

1×4 DataFrame
│ Row │ A_sum │ B_sum   │ A_prod │ B_prod  │
│     │ Int64 │ Float64 │ Int64  │ Float64 │
├─────┼───────┼─────────┼────────┼─────────┤
│ 1   │ 10    │ 10.0    │ 24     │ 24.0    │